@page
@model ecoQuest1.Pages.Dashboard_AdminModel
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
</head>
<body>

    <h1 style="text-align: center;">Progreso de Módulos de Colaboradores</h1>



    <div class="container_admin">
        @foreach (var empleado in Model.LeaderboardList)
        {<div class="card1 mb-3">

                <div class="info">
                    <h2 style="text-align: center;">@empleado.Nombre @empleado.Apellido</h2><br>
                    <p>Id de Empleado: #@empleado.IdEmpleado</p>
                    <p>Progreso: @empleado.Porcentaje</p>
    
                    <p>
                        Departamento: @empleado.Departamento
                    </p>
                </div>

            </div>

            <!-- Repite para otros colaboradores -->
            <div class="card2 mb-3">
                <div class="info">
                    <div>
                        @{
                            string lookerStudioBaseUrl = "https://lookerstudio.google.com/embed/reporting/b7d1fd75-a455-4718-951d-d37c27076e88/page/JlH2D";
                            string parameters = $"%7B%22ds0.id%22%3A%22{empleado.IdEmpleado}%22%7D";
                            string embedUrl = $"{lookerStudioBaseUrl}?params={parameters}";

                            //string lookerStudioBaseUrl = "https://lookerstudio.google.com/embed/reporting/b4bc5995-14a3-407c-a542-3c9c33892c6e/page/p_tuxem61rhd";
                            //string parameters = $"params=%7B%22id_empleado_parametro%22%3A%22{empleado.IdEmpleado}%22%7D";
                            //EmbedUrl = $"{lookerStudioBaseUrl}?{parameters}";  // Asignar la URL a la propiedad EmbedUrl

                        }
                        @if (!string.IsNullOrEmpty(embedUrl))
                        {
                            <iframe width="506" height="168" src="@embedUrl" frameborder="0" style="border:0" allowfullscreen></iframe>
                        }
                    </div>
                </div>
            </div>
        }






    </div>
</body>
</html>